body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    color: white;
    text-align: center;
}

.page-content {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
}
img{
    float: left;
}

.headline{
    float: left;
    margin-top: 6px;
}

font {
    margin-left: 5px;

}
p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana;

}

div.box {
    width: 20%;
    height: 500px;
    padding: 5px;
    color: black;
    margin-left: 40%;
    border-radius: 25px;
    display: block;
    border-style: solid;
    border-color: white;
    background-color: white;
    position: center;
}

div.boxes {
    width: 20%;
    height: 500px;
    padding: 10px;
    margin: 20px;
    margin-top: 110px;
    color: white;
    border-radius: 25px;
    display: block;
    float: left;
    border-style: solid;
    border-color: white;
}

div.boxesright {
    width: 20%;
    height: 500px;
    padding: 10px;
    margin: 20px;
    margin-top: 110px;
    color: white;
    border-radius: 25px;
    display: block;
    float: right;
    border-style: solid;
    border-color: white;

}

div.map {
    padding: 10px;
    margin: 20px;
    margin-top: 100px;
    border-radius: 25px;
    display: block;
}

.loginLogout{
    padding: 7px 15px;
    float: right;
    margin-top: 6px;
    margin-right: 40px;
}

.buchen{
    padding: 7px 15px;
    border-radius: 25px;
    background-color: #4396ce;
    border-color: #4396ce;
    margin-top: 5%;
    color: white;
    font-size: x-large;
}

div.my-container{
    display:flex;
    justify-content: center;
    margin-top: 110px;
    height: 500px;
}

.headbuttons{
    margin-top: 5%;
    position: center;
}

.einreichen{
    margin-top: 10px;
}

.rating{
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}

.card{
    float: left;
    padding: 20px;
    margin-top: 100px;
    margin-left: 13%;
    height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 25px;
}



.bounce-enter-active {
    animation: bounce-in 0.5s;
}
.bounce-leave-active {
    animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}





