body {
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
    color: white;
    text-align: center;
}

.page-content {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 35%;
    bottom: 0;
}

h1 {
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana;
}



p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Verdana;

}

div.boxes {
    width: 15%;
    padding: 10px;
    margin: 20px;
    color: black;
    background-color: lightgray;
    border-radius: 25px;
    display: block;
    float: left;


}

div.boxesright {
    width: 15%;
    padding: 10px;
    margin: 20px;
    color: black;
    background-color: lightgray;
    border-radius: 25px;
    display: block;
    float: right;

}

div.map {
    padding: 10px;
    margin: 20px;
    border-radius: 25px;
    display: block;
}




