<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>getVac</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/booking.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="/bilder/Logo.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</head>

<body>

<div class="w3-bar w3-border w3-light-grey">
    <a href="/"><img src="/bilder/Logo.png" width="50" height="50" alt="Selfhtml"></a>
    <font face="Verdana" size="5" style="color:#43cea2"><b>getVac</b></font>

</div>


<div class="my-container">
    <div class="panel panel-primary">
        <div class="panel-heading">Termin auswählen</div>
        <div class="panel-body">
           <div class="headline">
               <p>Für wen möchten Sie den Termin buchen?</p>
           </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Vorname</label>
                        <input type="text" class="form-control" name="fname" id="fname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Nachname</label>
                        <input type="text" class="form-control" name="lname" id="lname">
                    </div>
                </div>
            </div>
            <div class='my-col-md-6'>
                <div class="form-group">
                    <label class="control-label">Datum/ Uhrzeit</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Buchen">
    </div>
</div>
</div>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2429.0429960161764!2d13.452171016173235!3d52.4964612798097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e55b04a4c0b%3A0x6852fd9350063186!2sArena%20Berlin!5e0!3m2!1sde!2sde!4v1622121432481!5m2!1sde!2sde"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

</body>
</html>