<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>getVac</title>
    <link rel="stylesheet" href="/css/main.css" />

</head>

<body>


<h1> Hier entsteht bald eine schöne Seite! :) </h1>


<div>
    <h2>Impfzentren</h2>
    <p th:text="${listOfCenters[0]}"/>
    <p th:text="${listOfCenters[1]}"/>
    <p th:text="${listOfCenters[2]}"/>
    <p th:text="${listOfCenters[3]}"/>
    <p th:text="${listOfCenters[4]}"/>
    <p th:text="${listOfCenters[5]}"/>



</div>



</body>
</html>