<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>getVac</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="/bilder/Logo.png">
</head>

<body>

<div class="w3-bar w3-border w3-light-grey">
    <a href="/"><img src="/bilder/Logo.png" width="50" height="50" alt="Selfhtml"></a>
    <font face="Verdana" size="5" style="color:#43cea2"><b>getVac</b></font>

    <div class="loginLogout" sec:authorize="!isAuthenticated()">
        <a class="login" th:href="@{/oauth2/authorization/okta}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Login</a>
    </div>
    <div class="loginLogout" sec:authorize="isAuthenticated()">
        <form id="logout-form" method="POST" action="#" th:action="@{/logout}">
            <button type="submit" class="login">Logout</button>
        </form>
    </div>


</div>



<div class="boxes">
    <p th:text="${listOfCenters[0].getName()}"/>
    <p th:text="${listOfCenters[0].getStreet()}"/>
    <p th:text="${listOfCenters[0].getZip() + ' ' + listOfCenters[0].getCity()}"/>
    <form action="/arenaBooking">
        <input type="submit" value="Termin buchen">
    </form>
    <p>__________________</p>
    <p th:text="${listOfCenters[1].getName()}"/>
    <p th:text="${listOfCenters[1].getStreet()}"/>
    <p th:text="${listOfCenters[1].getZip() + ' ' + listOfCenters[1].getCity()}"/>
    <form action="/erikaBooking">
        <input type="submit" value="Termin buchen">
    </form>
    <p>__________________</p>
    <p th:text="${listOfCenters[2].getName()}"/>
    <p th:text="${listOfCenters[2].getStreet()}"/>
    <p th:text="${listOfCenters[2].getZip() + ' ' + listOfCenters[2].getCity()}"/>
    <form action="/tegelBooking">
        <input type="submit" value="Termin buchen">
    </form>
</div>

<div class="boxesright">
    <p th:text="${listOfCenters[3].getName()}"/>
    <p th:text="${listOfCenters[3].getStreet()}"/>
    <p th:text="${listOfCenters[3].getZip() + ' ' + listOfCenters[3].getCity()}"/>
    <form action="/tempelhofBooking">
        <input type="submit" value="Termin buchen">
    </form>
    <p>__________________</p>
    <p th:text="${listOfCenters[4].getName()}"/>
    <p th:text="${listOfCenters[4].getStreet()}"/>
    <p th:text="${listOfCenters[4].getZip() + ' ' + listOfCenters[4].getCity()}"/>
    <form action="/messeBooking">
        <input type="submit" value="Termin buchen">
    </form>
    <p>__________________</p>
    <p th:text="${listOfCenters[5].getName()}"/>
    <p th:text="${listOfCenters[5].getStreet()}"/>
    <p th:text="${listOfCenters[5].getZip() + ' ' + listOfCenters[5].getCity()}"/>
    <form action="/velodromBooking">
        <input type="submit" value="Termin buchen">
    </form></div>

<div class="map">
    <iframe src="https://www.google.com/maps/d/embed?mid=1nGlBumZY-CJdHI_HshGBGKkqNLZdvWkp&hl=de" width="1200"
            height="710" style="border:0;"></iframe>
</div>


</body>
</html>