<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>bestVac</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="/bilder/Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="#" th:src="@{/js/myscripts.js}" defer></script>

</head>

<body>
<div class="w3-bar w3-border w3-light-grey">
    <a href="/"><img src="/bilder/Logo.png" width="50" height="50" alt="Selfhtml"></a>
    <font class="headline" face="Verdana" size="5" style="color:#43cea2"><b>bestVac</b></font>
    <a class="rating" href="/" style="color:#43cea2">Bewertungen ansehen</a>
    <div class="loginLogout" sec:authorize="!isAuthenticated()">
        <a class="btn btn-primary" th:href="@{/oauth2/authorization/okta}" th:classappend="${#request.requestURI == '/login' ? 'active':''}">Login</a>
    </div>
    <div class="loginLogout" sec:authorize="isAuthenticated()">
        <form id="logout-form" method="POST" action="#" th:action="@{/logout}" >
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>
    </div>
</div>



<div id="ratingpage">
    <div id="app"></div>
</div>



    <div class="boxes">
        <p th:text="${listOfCenters[0].getName()}"/>
        <p th:text="${listOfCenters[0].getStreet()}"/>
        <p th:text="${listOfCenters[0].getZip() + ' ' + listOfCenters[0].getCity()}"/>

        <p>_______________________</p>
        <p th:text="${listOfCenters[1].getName()}"/>
        <p th:text="${listOfCenters[1].getStreet()}"/>
        <p th:text="${listOfCenters[1].getZip() + ' ' + listOfCenters[1].getCity()}"/>

        <p>_______________________</p>
        <p th:text="${listOfCenters[2].getName()}"/>
        <p th:text="${listOfCenters[2].getStreet()}"/>
        <p th:text="${listOfCenters[2].getZip() + ' ' + listOfCenters[2].getCity()}"/>

    </div>

    <div class="boxesright">
        <p th:text="${listOfCenters[3].getName()}"/>
        <p th:text="${listOfCenters[3].getStreet()}"/>
        <p th:text="${listOfCenters[3].getZip() + ' ' + listOfCenters[3].getCity()}"/>

        <p>_______________________</p>
        <p th:text="${listOfCenters[4].getName()}"/>
        <p th:text="${listOfCenters[4].getStreet()}"/>
        <p th:text="${listOfCenters[4].getZip() + ' ' + listOfCenters[4].getCity()}"/>

        <p>_______________________</p>
        <p th:text="${listOfCenters[5].getName()}"/>
        <p th:text="${listOfCenters[5].getStreet()}"/>
        <p th:text="${listOfCenters[5].getZip() + ' ' + listOfCenters[5].getCity()}"/>

    </div>
    <div class="map">
        <iframe src="https://www.google.com/maps/d/embed?mid=1nGlBumZY-CJdHI_HshGBGKkqNLZdvWkp&hl=de" width="1000"
                height="500" style="border:0;"></iframe>
    </div>
</div>

</body>
</html>