<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>getVac</title>
    <link rel="stylesheet" href="/css/booking.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="icon" href="/bilder/Logo.png">
</head>

<body>

<div class="w3-bar w3-border w3-light-grey">
    <img src="/bilder/Logo.png" width="50" height="50" alt="Selfhtml">
    <font face="Verdana" size="5" style="color:#43cea2"><b>getVac</b></font>

</div>

<div class="boxes">
   <!-- <p th:text="${listOfCenters[5].getName()}"/>
    <p th:text="${listOfCenters[5].getStreet()}"/>
    <p th:text="${listOfCenters[5].getZip() + ' ' + listOfCenters[5].getCity()}"/>-->

    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.161308401078!2d13.4486547161742!3d52.5305155798161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84fc3a22029cf%3A0x2e9371eb78584ce8!2sImpfzentrum%20Berlin%20-%20Velodrom!5e0!3m2!1sde!2sde!4v1622122195564!5m2!1sde!2sde"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>


</body>
</html>